# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Ignorar cachés de Python
__pycache__/
*.pyc
*.pyo

# Ignorar configuraciones temporales y archivos generados
*.DS_Store
*.log
*.cache

# Ignorar archivos de Streamlit generados (como pydeck.json)
.streamlit/
pydeck.json
index.js
index.js.map
extensionRequires.js
ttx.1

# Otros archivos no deseados
*.swp  # Archivos swap temporales
*.bak  # Archivos de respaldo